<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authors</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div id="wrapper">
        <header class="page_header">
            <h1>Authors</h1>
            <form action="/" class="book_author_switch" method="POST">
                {% csrf_token %}
                <button type="submit">See Books List</button>
            </form>
        </header>
        <main class="content_section">
            <div class="form_container main_content_split">
                <form action="/add_author" class="add_author_form" method="POST">
                {% csrf_token %}
                <h2>Add an Author</h2>
                <div class="name_section">
                    <div class="first_name_section text_inputs_section">
                        <label for="first_name_input">First Name:</label>
                        <input type="text" name="first_name_input" class="text_inputs" maxlength="255" required>
                    </div>
                    <div class="last_name_section text_inputs_section">
                        <label for="last_name_input">Last Name:</label>
                        <input type="text" name="last_name_input" class="text_inputs" maxlength="255" required>
                    </div>
                </div>
                <div class="notes_section text_area_section">
                    <label for="notes_input">Notes:</label>
                    <textarea name="notes_input" class="notes_input text_area_input" required></textarea>
                </div>
                <button type="submit" name="add_author_submit_btn">Add</button>
                </form>
            </div>
            <div class="display_container main_content_split">
                <div class="table_container">
                    <table class="display_table">
                        <tr class="table_headers">
                            <th>ID</th>
                            <th>Name</th>
                            <th>Action</th>
                        </tr>
                        {% for author in authors %}
                        <tr class="author_records">
                            <td class="data_cell first_col">{{author.id}}</td>
                            <td class="data_cell second_col">{{author.first_name}} {{author.last_name}}</td>
                            <td class="data_cell third_col"><a href="/authors/{{author.id}}">View</a></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </main>
    </div>
</body>
</html>